USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedListar]    Script Date: 07/01/2026 19:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedListar] as
Select A.Id, Codigo, Nombre, A.Descripcion, ImagenUrl, M.Descripcion Marca, C.Descripcion Categoria, 
Precio, A.IdMarca, A.IdCategoria, Precio
From ARTICULOS A, MARCAS M, CATEGORIAS C Where A.IdMarca = M.Id And A.IdCategoria = C.Id