USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedEliminarFavorito]    Script Date: 07/01/2026 19:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedEliminarFavorito] 
@idUser int,
@idArt int
as
Delete From FAVORITOS Where IdUser = @idUser And IdArticulo = @idArt