USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedAltaArticulo]    Script Date: 07/01/2026 19:19:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedAltaArticulo]
@cod varchar(50),
@nomb varchar(50),
@desc varchar(150),
@marca int,
@categ int,
@img varchar(1000),
@precio money
as
Insert Into ARTICULOS values (@cod, @nomb, @desc, @marca, @categ, @img, @precio)
