USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedModificarArticulo]    Script Date: 07/01/2026 19:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[storedModificarArticulo]
@cod varchar(50),
@nomb varchar(50),
@desc varchar(150),
@marca int, 
@categ int,
@img varchar(1000),
@precio money,
@id int
as
Update ARTICULOS set Codigo = @cod, Nombre = @nomb, Descripcion = @desc, IdMarca = @marca, IdCategoria = @categ, ImagenUrl = @img, Precio = @precio Where Id = @id