USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedInsertarNuevo]    Script Date: 07/01/2026 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedInsertarNuevo]
@email varchar(50),
@pass varchar(50)
as
Insert Into USERS (email, pass, admin) output inserted.Id values (@email, @pass, 0)