USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedModificarPerfil]    Script Date: 07/01/2026 19:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedModificarPerfil]
@nomb varchar(50),
@apell varchar(50),
@img varchar(500),
@id int
as

Update USERS set nombre = @nomb, apellido = @apell, urlImagenPerfil = @img Where Id = @id