USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedInsertarFavorito]    Script Date: 07/01/2026 19:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[storedInsertarFavorito]
@iduser int,
@idArt int
as
Insert Into FAVORITOS values(@iduser, @idArt)