USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedListarFavoritos]    Script Date: 07/01/2026 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[storedListarFavoritos]
@idUser int
as
Select A.Id, Codigo, A.Nombre, A.Descripcion, ImagenUrl, M.Descripcion Marca, C.Descripcion Categoria, 
Precio, A.IdMarca, A.IdCategoria, Precio
From ARTICULOS A, MARCAS M, CATEGORIAS C, FAVORITOS F, USERS U
Where A.IdMarca = M.Id And A.IdCategoria = C.Id And A.Id = F.IdArticulo And F.IdUser = U.Id And F.IdUser = @idUser