USE [CATALOGO_WEB_DB]
GO
/****** Object:  StoredProcedure [dbo].[storedEliminar]    Script Date: 07/01/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[storedEliminar]
@id int
as
Delete From ARTICULOS Where Id = @id
